cadquery==2.6.1
cadquery-ocp==7.8.1.1.post1
cadquery_vtk==9.2.6

trimesh==4.10.0

numpy==2.2.6
scipy==1.15.3
pandas==2.3.3
openpyxl==3.1.5

matplotlib==3.10.7
plotly==6.5.0

py3dbp==1.1.2

Django==5.2.8
djangorestframework==3.16.1
django-cors-headers==4.9.0
django-filter==24.3
drf-spectacular==0.28.0
python-decouple==3.8

psycopg2-binary==2.9.10

tqdm==4.67.1
